name: CI

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
      - beta
      - sdk-release/**
      - feature/**
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
    branches:
      - master
      - beta
      - private-preview
      - sdk-release/**
      - feature/**

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    steps:
    - uses: extractions/setup-just@v2
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version:  3.1
    - name: Lint
      run: just lint
    - name: Build
      run: gem build stripe.gemspec
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: gems
        path: '*.gem'

  test:
    name: Test (${{ matrix.ruby-version }})
    # this version of jruby isn't available in the new latest (24.04) so we have to pin (or update jruby)
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # following https://docs.stripe.com/sdks/versioning?lang=ruby#stripe-sdk-language-version-support-policy
        ruby-version: [2.6, 2.7, '3.0', 3.1, 3.2, 3.3, 3.4, jruby-9.4.0.0, truffleruby-25.0.0]
    steps:
    - uses: extractions/setup-just@v2
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - uses: stripe/openapi/actions/stripe-mock@master
    - name: test
      run: |
        just test typecheck
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}

  publish:
    name: Publish
    if: >-
      ((github.event_name == 'workflow_dispatch') || (github.event_name == 'push')) &&
      startsWith(github.ref, 'refs/tags/v') &&
      endsWith(github.actor, '-stripe')
    needs: [build, test]
    runs-on: ubuntu-22.04
    steps:
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
        name: gems
        path: gems
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version:  3.1
    - name: Publish gems to Rubygems
      run: gem push gems/*.gem
      env:
        GEM_HOST_API_KEY: ${{secrets.GEM_HOST_API_KEY}}
    - uses: stripe/openapi/actions/notify-release@master
      if: always()
      with:
        bot_token: ${{ secrets.SLACK_BOT_TOKEN }}
